* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */
}

body {
  background: #080808;
  color: white;
}

#header {
  /* width: 100%; */
  /* height: 100%; */
  min-height: 100vh; /* fallback */
  background: black;
}

#header .container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

nav {
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000; /* solid background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  width: 250px;
  height: auto;
}

.container {
  /* padding-top: min(20vh, 120px); */
  padding: 10px 10%;
}

nav .fa-solid {
  display: none;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  font-size: 1.5em;
}

nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav a:hover::after {
  width: 100%;
}

.header-text {
  font-size: 2rem;
  font-family: "Poppins", serif;
}

.header-text h1 {
  margin-top: 3%;
  font-weight: bold;
}

.header-text h1 span {
  color: rgb(237, 56, 56);
}

/* ------------------------------About------------------------- */

#about,
#services,
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

#about .container {
  background-color: #1e1e1e;
  min-height: 100vh;
  overflow-x: hidden;
}

.row {
  display: flex;
  justify-content: space-between;
  min-height: 800px;
  padding-top: 10%;
}

.about-col-1 {
  display: flex;
  align-items: flex-start;
  flex-basis: 35%;
  border-radius: 10px;
  padding-top: 2%;
  /* background: rgb(77, 73, 73); */
}

.about-col-1 img {
  object-fit: contain;
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 4rem;
  letter-spacing: 0.25rem;
}

.about-col-2 > p {
  color: rgb(212, 205, 205);
  text-align: left;
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
  line-height: 2rem;
}

.tab-titles {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tab-links {
  margin-right: max(10%, 30px);
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.25rem;
  position: relative;
  color: white;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links:hover::after {
  width: 100%;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 1.2rem;
}

.tab-contents ul li span {
  color: rgb(212, 205, 205);
  font-size: 1rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ---------Services-------------- */

#services {
  min-height: 100vh;
  padding: 5% 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 200px;
  grid-gap: 40px;
  margin-bottom: 40px;
}

.card-container {
  background-color: rgb(77, 73, 73);
  border-radius: 1rem;
  transition: background 0.4s, transform 0.4s;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  cursor: pointer;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.icon-large {
  color: white;
  font-size: 5rem;
  margin-bottom: 0.8em;
}

.services-list div h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

/* .services-list div:hover {
  background: #eda0a0;
  transform: translateY(-10px);
} */

.hidden {
  display: none;
}

/* ----------portfolio----------- */

#portfolio {
  background-color: #1e1e1e;
  padding: 5% 0;
  min-height: 100vh;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}

.work {
  width: 100%;
  max-width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.work img {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease-in;
}

.work a {
  text-decoration: none;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #b7223d);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 0.9rem;
  transition: height 0.5s;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.layer h3 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1em;
  letter-spacing: 0.1rem;
}

.layer a {
  margin-top: 1.5em;
  color: #ff004f;
  text-decoration: none;
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.layer a:hover {
  background-color: #ff004f;
  color: white;
  transition: all 0.3s ease;
}

.btn {
  display: block;
  padding: 1rem 3rem;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 5% auto;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  border: 1px solid #595657;
  width: fit-content;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease,
    box-shadow 0.5s ease, color 0.5s ease;
}

.btn:hover {
  background-color: #ff004f;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* -------contact------- */

#contact {
  min-height: 83vh;
}

#contact .row {
  /* margin-top: 10%; */
  justify-content: space-between;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left h1 {
  font-size: 2.5rem;
}
.contact-left p {
  margin-top: 2em;
  font-size: 1.3rem;
  color: #d8d4d4;
}

.contact-left p i {
  color: #ff004f;
  font-size: 1rem;
  margin-right: 1em;
}

.social-icons {
  margin: 4em 0;
}

.social-icons a {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #d8d4d4;
  margin-right: 3rem;
  cursor: pointer;
  transition: color 0.5s ease, transform 0.5s ease;
}

.social-icons a:hover {
  color: #ff004f;
  transform: scale(1.3) rotate(5deg);
}

.btn.btn2 {
  display: inline-block;
  font-size: 1.3rem;
  background-color: #ff004f;
  border: none;
}

.btn.btn2:hover {
  background-color: #464444;
  color: #ff004f;
  transform: translateY(-5px);
}

.contact-right form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-input {
  padding: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #2b2b2b;
  color: rgb(226, 224, 224);
  transition: 0.3s ease;
}

.form-input:focus {
  outline: none;
  background-color: #3a3a3a;
  box-shadow: 0 0 0 0.5px #ff004f;
}

textarea.form-input {
  resize: vertical;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 2em 1em;
  background-color: #111;
  color: #ccc;
  border-top: 1px solid #333;
}

/* ----------Media Queries------------- */

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    width: 220px;
  }

  nav .fa-solid {
    font-size: 2rem;
    display: block;
  }

  nav ul {
    background: rgb(54, 53, 53);
    position: fixed;
    right: -100%;
    top: 0;
    padding: 5rem 0;
    width: 20%;
    height: 100vh;
    z-index: 100;
    transition: right 0.5s ease;
  }

  nav ul li {
    display: block;
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.5s ease;
  }

  nav ul li:hover {
    background-color: rgb(11, 10, 10);
  }

  nav ul .nav-close {
    position: absolute;
    top: 5%;
    left: 11%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  nav ul .nav-close:hover {
    transform: scale(0.9);
  }

  nav a::after {
    content: "";
    display: none;
  }

  .header-text {
    font-size: 1.3rem;
  }

  .header-text h1 {
    margin-top: 3%;
    font-size: 2rem;
    font-weight: bold;
  }

  #about .container {
    padding: 5% 10%;
    display: grid;
    place-items: center;
  }
  .row {
    flex-wrap: wrap;
  }

  .about-col-1 {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }

  .tab-links {
    margin-bottom: 1rem;
    display: inline-block;
  }

  .about-col-2 {
    flex-basis: 100%;
  }

  .sub-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .icon-large {
    color: white;
    font-size: 3rem;
    margin-bottom: 0.5em;
  }
  .services-list {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .services-list div {
    padding: 20px;
  }

  .services-list div h2 {
    font-size: 1.5rem;
  }

  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    padding: 0 1rem;
  }

  #contact .row {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }

  .contact-right,
  .contact-left {
    width: 90%;
    text-align: center;
  }

  .contact-left h1 {
    font-size: 2.5rem;
    margin-bottom: 5%;
  }

  .contact-left p {
    margin-top: 1em;
    font-size: 1rem;
    color: #d8d4d4;
  }

  .contact-left p i {
    font-size: 0.8rem;
    margin-right: 0.7em;
  }

  .social-icons {
    margin: 0.5em 0;
  }

  .social-icons a {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .btn.btn2 {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }

  .contact-right form {
    justify-content: space-between;
  }
  .form-input {
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .footer {
    font-size: 0.9rem;
    padding: 1.5em;
  }
}

@media (max-width: 365px) {
  nav ul {
    width: 80%;
  }

  .sub-title {
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    text-align: center;
    word-wrap: break-word;
  }

  #about .container {
    padding: 5% 30px;
  }

  .about-col-1 img {
    width: 100%;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .tab-links {
    margin: 0 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    display: inline-block;
  }

  .tab-links::after {
    bottom: 0.05rem;
  }
  .work-list {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #portfolio .btn {
    margin-top: 25%;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  .contact-left h1 {
    font-size: 2rem;
  }
}

@media (min-width: 366px) and (max-width: 479px) {
  .about-col-1 img {
    width: 100%;
  }
  .sub-title {
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    text-align: center;
    word-wrap: break-word;
  }

  .tab-links {
    margin: 1rem 0.4rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    display: inline-block;
  }
  .work-list {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 40px;
  }

  #portfolio .btn {
    margin-top: 25%;
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .contact-left h1 {
    font-size: 2rem;
  }

  .contact-left p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .form-input {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .btn.btn2 {
    font-size: 1.2rem;
  }
}

/* Phones (portrait and small landscape) */
@media (min-width: 480px) and (max-width: 599px) {
  .tab-links {
    margin: 1rem 0.4rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    display: inline-block;
  }

  .work-list {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 40px;
  }

  #portfolio .btn {
    margin-top: 15%;
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .contact-left h1 {
    font-size: 2.5rem;
  }

  .contact-left p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .contact-right form {
    margin-top: 5%;
  }

  .form-input {
    padding: 1rem;
    font-size: 1.8rem;
  }

  .btn.btn2 {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .tab-links {
    /* margin-right: 1rem; */
    margin-bottom: 1rem;
    font-size: 1.4rem;
    /* display: inline-block; */
  }

  #portfolio .btn {
    margin-top: 10%;
  }

  .work-list {
    grid-gap: 40px;
  }

  .contact-left h1 {
    font-size: 3rem;
  }

  .contact-left p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  .contact-right form {
    margin-top: 5%;
  }

  .form-input {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .btn.btn2 {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  #portfolio .btn {
    margin-top: 10%;
  }

  .work-list {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
  }

  .contact-left h1 {
    font-size: 3.5rem;
  }

  .contact-left p {
    font-size: 1.5rem;
  }

  .contact-left p i {
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
  }

  .form-input {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .btn.btn2 {
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .social-icons a {
    font-size: 2rem;
    margin-right: 1.5rem;
  }
}

/* Small laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
  nav ul li {
    margin: 10px 20px;
    font-size: 1.3em;
  }
  .logo {
    width: 220px;
  }

  .header-text h1 {
    font-size: 3rem;
  }

  .tab-links {
    margin-right: 1.1rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    display: inline-block;
  }

  #portfolio .sub-title {
    margin-bottom: ;
  }
}

/* Desktops */
@media (min-width: 1281px) {
  .header-text h1 {
    font-size: 3.5rem;
  }

  .contact-left h1 {
    font-size: 3rem;
  }

  .contact-left p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .contact-left p i {
    font-size: 1.5rem;
  }

  .btn.btn2 {
    font-size: 1.5rem;
  }

  .social-icons a {
    font-size: 2.5rem;
  }
}
