* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */
  font-size: 1rem;
}

body {
  background: #080808;
  color: white;
}

#header {
  min-height: 100vh; /* fallback */
  background: black;
}

#header .container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10%;
}

nav {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000; /* solid background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  /* z-index: 1000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  z-index: 1000;
}

.logo {
  width: auto;
  height: 38px;
}

.fa-bars {
  font-size: 30px;
}

.nav-close {
  position: absolute;
  top: 3%;
  right: 15%;
}

#sidemenu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  background: #222121;
  list-style: none;
  font-size: 1.5em;
  z-index: 10;
  padding-top: 15%;
}

#sidemenu li {
  padding: 5% 10%;
}

#sidemenu li:hover {
  background: rgba(9, 9, 9, 0.9);
}

#sidemenu a {
  text-decoration: none;
  color: white;
}

.header-text {
  font-size: 1.25rem;
  font-family: "Poppins", serif;
}

.header-text h2 {
  margin-top: 3%;
  font-size: 1.5rem;
  text-align: left;
  transition: font-size 0.3s ease-in-out;
}

.header-text h2 span {
  font-size: 3.5rem;
  color: rgb(237, 56, 56);
}

/* Media Queries */

@media (min-width: 480px) {
  .header-text {
    font-size: 1.5rem;
  }

  .header-text h2 {
    font-size: 2rem;
  }
}
@media (min-width: 520px) {
  #sidemenu {
    padding-top: 10%;
  }

  .logo {
    height: 45px;
  }

  .header-text h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 700px) {
  nav .fa-bars,
  nav .nav-close {
    display: none;
  }

  #sidemenu {
    display: flex;
    justify-content: flex-end;
    height: 68px;
    background: none;
    list-style: none;
    font-size: 1.3em;
    padding: 1% 10%;
    /* z-index: 10; */
  }

  #sidemenu li {
    padding: 1% 2%;
  }

  .header-text h2 {
    letter-spacing: 2px;
  }
}

@media (min-width: 900px) {
  .header-text h2 {
    font-size: 3rem;
  }
}

/* About section */

#about {
  min-height: 100vh; /*fallback*/
  margin-top: 100px;
}

#about .container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}
.about-col-1 {
  text-align: center;
  margin-top: 100px;
}
.about-col-1 img {
  object-fit: contain;
  width: 100%;
  border-radius: 15px;
  height: auto;
  transition: width 0.5s ease-in-out;
}

.about-col-2 {
  margin-top: 5%;
  color: rgb(255, 255, 255, 0.6);
}

.about-col-2 .sub-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: rgb(255, 255, 255, 0.8);
}
.about-col-2 p {
  margin-top: 5%;
  font-weight: 200;
  text-align: start;
  hyphens: auto;
  word-break: normal;
  overflow-wrap: break-word;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.about-col-2 .tab-titles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.about-col-2 .tab-links {
  font-size: 1.1rem;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.8);
  position: relative;
  transition: 0.5s;
}

.about-col-2 .tab-links::after {
  content: "";
  height: 3px;
  background-color: red;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.about-col-2 .tab-links:hover::after {
  width: 100%;
}
.about-col-2 .tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin-bottom: 10px;
}

.tab-contents {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  /* Add height transition for varying content sizes */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, overflow 0.3s ease-in-out;
}

.tab-contents.active-tab {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  padding-bottom: 20px;
}

.tab-contents ul li span {
  color: rgba(152, 47, 47, 0.88);
  font-size: 0.8rem;
}

@media (min-width: 440px) {
  .about-col-2 .tab-titles {
    justify-content: flex-start;
  }
  .about-col-2 .tab-links {
    margin-right: 10%;
  }
}
@media (min-width: 530px) {
  .about-col-1 img {
    width: 60%;
  }

  .about-col-2 .tab-links {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  #about .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 140px;
    padding: 0;
  }
  .about-col-1 {
    display: flex;
    flex-basis: 35%;
    margin-top: 0;
  }
  .about-col-2 {
    flex-basis: 60%;
    margin-top: 0;
  }
  .about-col-1 img {
    width: 100%;
    margin-top: 8%;
  }

  .about-col-2 .tab-titles {
    margin-bottom: 1em;
  }
}

@media (min-width: 900px) {
  .about-col-2 .tab-titles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }
  .about-col-2 .tab-links {
    margin-right: 10%;
  }
}

/* ----------Services----------- */

#services .container,
#portfolio .container {
  min-height: 100vh;
  padding: 80px 10%;
  margin-top: 200px;
  display: grid;
}

#services .sub-title,
#portfolio .sub-title {
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: rgb(255, 255, 255, 0.8);
  padding-bottom: 2rem;
  align-self: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-bottom: 40px;
  width: 100%;
  align-self: center;
}

.card-container {
  background-color: rgb(35, 33, 33);
  border-radius: 1rem;
  height: 100%;
  position: relative;
  overflow: hidden; /* To clean overflow on rotation */
  perspective: 900px;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card-back {
  right: 0;
}

.card-front {
  backface-visibility: hidden;
  height: 100%;
  color: rgb(255, 255, 255, 0.9);
}

.card-back {
  transform: rotateY(-180deg);
  position: absolute;
  padding: 1rem 2rem 0 2rem;
}

.card-back .details-list,
.card-front p {
  color: rgb(255, 255, 255, 0.6);
}

.card-back .details-list {
  list-style: none;
}
.card-back ul li {
  position: relative;
  padding-left: 20px;
}
.card-back ul li::before {
  display: list-item;
  content: "✰ "; /* Custom content like emojis or text */
  color: rgb(255, 255, 255, 0.9); /* Change marker color */
  font-size: 1em; /* Adjust marker size */
  position: absolute;
  left: 0;
}

.card-front h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card-front i {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.card-back .details-list {
  height: 250px;
  overflow-y: auto;
}

@media (min-width: 650px) {
  .services-list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  #services .sub-title,
  #portfolio .subtitle {
    padding: 3rem 0;
    font-size: 3rem;
    align-self: center;
  }

  .card {
    padding: 3rem;
  }

  .card-back {
    padding: 3rem 2rem;
  }

  .card-front h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .card-front i {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .card-back .details-list {
    height: 250px;
    overflow-y: auto;
  }
  .card-back .details-list,
  .card-front p {
    font-size: 1.2rem;
  }
}

@media (min-width: 980px) {
  #services .sub-title,
  #portfolio .sub-title {
    font-size: 3.5rem;
  }

  .card-back {
    padding: 3rem 2rem;
  }

  .card-front h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  /* .card-back .details-list,
  .card-front p { */
  /* font-size: 1.3rem; */
  /* } */
}

/* -----------Portfolio----------- */

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-bottom: 40px;
  width: 100%;
  align-self: center;
}

.work {
  width: 100%;
  max-width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.work img {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease-in;
}

.work a {
  text-decoration: none;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #b7223d);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
  font-size: 0.7rem;
  transition: height 0.5s;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.layer h3 {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.5em;
  letter-spacing: 0.02rem;
}

.layer a {
  margin-top: 0.6em;
  color: #ff004f;
  text-decoration: none;
  background-color: white;
  border-radius: 50%;
  padding: 0.1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
}

.layer a:hover {
  background-color: #ff004f;
  color: white;
  transition: all 0.3s ease;
}

.btn {
  display: block;
  padding: 1rem 3rem;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 5% auto;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  border: 1px solid #595657;
  width: fit-content;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease,
    box-shadow 0.5s ease, color 0.5s ease;
}

.btn:hover {
  background-color: #ff004f;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (min-width: 420px) {
  .layer h3 {
    font-size: 1.2rem;
  }

  .layer {
    font-size: 0.9rem;
  }

  .layer a {
    margin-top: 0.9em;
  }
}

@media (min-width: 600px) {
  .layer h3 {
    font-size: 1.4rem;
  }

  .layer {
    font-size: 1rem;
  }

  .layer a {
    margin-top: 1.5em;
  }
}

@media (min-width: 660px) {
  .work-list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .layer a {
    font-size: 0.8rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (min-width: 900px) {
  .work img {
    aspect-ratio: 3/2;
  }
}

@media (min-width: 980px) {
  #portfolio .sub-title {
    padding: 3rem 0;
  }
}
@media (min-width: 1410px) {
  .work-list {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
  .work img {
    aspect-ratio: 3/2;
  }
  .layer h3 {
    font-size: 1.8rem;
  }
}

/* --------Contact--------- */

/* #contact {
  min-height: 100vh;
} */

/* #contact .container {
  padding: 10px 10%;
} */

#contact .container {
  min-height: 100vh;
  padding: 80px 10%;
  margin-top: 200px;
}
#contact .row {
  display: flex;
  flex-direction: column;
}

.contact-left h1 {
  font-size: 2.5rem;
}

.contact-left p a {
  text-decoration: none;
  color: #d8d4d4;
}

.contact-left p {
  margin-top: 1.5em;
  color: #d8d4d4;
}
.contact-left p i {
  color: #ff004f;
  font-size: 1.1rem;
  margin-right: 0.5em;
}

.social-icons {
  margin-top: 1.5em;
}

.social-icons a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #d8d4d4;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: color 0.5s ease, transform 0.5s ease;
}

.social-icons a:hover {
  color: #ff004f;
  transform: scale(1.3) rotate(5deg);
}

.btn.btn2 {
  display: inline-block;
  font-size: 1rem;
  background-color: #ff004f;
  border: none;
  padding: 0.8rem 2rem;
  margin: 10% 0;
  transition: transform 0.3s ease-in-out, margin 0.3 ease-in-out;
}

.btn.btn2:hover {
  background-color: #464444;
  color: #ff004f;
  transform: translateY(-5px);
}

.contact-right form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-input {
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #2b2b2b;
  color: rgb(226, 224, 224);
  transition: 0.3s ease;
  margin-bottom: 1rem;
}
.form-input:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.form-input:focus {
  outline: none;
  background-color: #3a3a3a;
  box-shadow: 0 0 0 0.5px #ff004f;
}

textarea.form-input {
  resize: vertical;
}

/* -----------footer------- */
.footer {
  width: 100%;
  text-align: center;
  padding: 1em 1em;
  background-color: #111;
  color: #ccc;
  /* font-size: rem; */
  border-top: 1px solid #333;
}

@media (min-width: 650px) {
  .btn.btn2 {
    margin: 5% 0;
  }
}

@media (min-width: 1000px) {
  #contact .container {
    min-height: 83vh;
  }
  #contact .row {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-left {
    flex-basis: 35%;
  }

  .contact-left h1 {
    font-size: 2.8rem;
  }

  .contact-left p {
    margin-top: 2em;
    font-size: 1.3rem;
  }

  .social-icons {
    margin-top: 2em;
  }

  .social-icons a {
    font-size: 1.8rem;
    margin-right: 2rem;
  }

  .btn.btn2 {
    font-size: 1.2rem;
    margin: 15% 0;
  }

  .contact-right {
    flex-basis: 60%;
  }

  .contact-right form {
    justify-content: space-around;
    height: 80%;
    max-width: 700px;
  }

  .form-input {
    padding: 1rem;
    font-size: 1.2rem;
    transition: 0.3s ease;
    margin-bottom: 2rem;
  }
}
